
body{
background-color: rgb(203, 200, 247);
  display:flex;
  justify-content:center;
}

@media (min-width:560px){
  .picture {
    text-align:center;
    top:10vh;
     width: 80vw;
      height: 20vh;
    }
 picture-item {
   margin: 0 auto;
   padding: 0 auto;
   height: calc(35vw*0.7);
   width: 50vw;
    max-wigth:260px;
    max-height:160px;
  }
}
  
  @media (min-width:560px){
  .picture {
    text-align:center;
    top:10vh;
     width: 150vw;
      height: 175vh;
    }
 picture-item {
   margin: 0 auto;
   padding: 0 auto;
   height: calc(15vw*0.7);
   width: 30vw;
    max-wigth:200px;
    max-height:180px;
  }
}
  
  
    
