
body{
background-color: rgb(203, 200, 247);
}
.picture div img{
  wigth:100px;
}
.picture{
  max-wigth:260px;
  wigth:100 %;
  margin-top: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  }
  .slick-next{
    rigth:25px !important;
}
 .slick-prev{
    rigth:15px !important;
}
 .slick-dots{
    position: relative !important;
}
@media (min-width:560px){
  .picture div img{
     width: 150px;
      height: 175px;
    }
  .slick-prev{
    left: -25px !important;
  }
}
  
  
  
  
    
